@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300&display=swap');

html {
  font-size: 100%;
}

* {
  margin: .2rem;
}

body {
  background-color: #fffcf2;
  color: #333;
  font-family: 'Roboto', Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}

p {
  color: #999;
  padding-bottom: 1rem;
}

h2 {
  font-size: 1.25rem;
  text-transform: uppercase;
  margin: 3em 0;
}

img {
  width: 100%;
}

header,
footer,
#contact {
  padding: 2em 1em;
}

header h1 a {
  color: #339;
  margin-top: 0;
  text-decoration: none;
}

header nav ul,
#contact ul {
  list-style: none;
  text-transform: uppercase;
  margin: 2em 0 3em;
  padding: 0;
}

header nav ul li a {
  display: block;
  background-color: #fff;
  color: #333;
  text-decoration: none;
  font-weight: bold;
  padding: 0.75em;
  margin-bottom: 0.25em;
}

header p,
#contact p {
  letter-spacing: 1px;
  line-height: 1.3;
}

header p {
    padding-top: 1rem;
}

header img {
    display: block;
    margin: 0 auto; 
    max-width: 100vh; 
    height: auto; 
    padding-bottom: 1rem;
}

#header-name {
    color: #ff6924;
}
main,
footer,
#contact {
  padding: 1em;
}

main {
  background-color: #fff;
  padding-bottom: 3em;
}

.blocks {
  margin-top: 3em;
}

.blocks ul {
  list-style-type: none;
  margin: 0 0 2em;
  padding: 0;
}

.blocks ul li {
  margin-bottom: 0.5em;
}

#contact li {
  color: #999;
  text-transform: none;
  margin-bottom: 1em;
}

#contact li a {
  color: #777;
  font-weight: bold;
  margin-left: 0.75em;
}

#contact h2 {
  margin-bottom: 0.8em; 
}

h3 {
  font-size: 1.25em;
  font-weight: normal;
  letter-spacing: 1px;
}

#skills ul {
  list-style-type: none;
  margin: 1em;
  padding: 0;
}

#skills {
  background-color:whitesmoke;
  padding: 2rem;
}

main p {
  color: #777;
  letter-spacing: 1px;
}

footer h4 {
  color: #339;
  font-size: 1em;
}

footer a {
  color: #333;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
}

footer section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

footer ul li {
  display: none;
}

footer ul li:first-child {
  display: inline-block;
}

#footername {
  color: #ff6924;
}

/* Media Queries */

/* Tablet Styles */
@media (min-width: 768px) {
  header nav ul li {
    display: inline-block;
  }
  header nav ul li a {
    display: inline-block;
    background-color: transparent;
  }
  header img {
    float: right;
    margin-left: 1em;
    width: 30%; 
  } 

  header p {
    font-size: 1.1rem;
    text-align: left;
    padding: 2rem;
  }

  a:hover {
    color: #ff6924;
    text-decoration: none;
  }

#portfolio {
  margin-top: 1rem;
  }
  
  .blocks {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
  }

  .column {
    width: 45%;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
  }
  #contact {
    font-size: 1.25em;
  }
  #contact p {
    margin: 1em auto;
    width: 80%;
  }
  
  footer ul li {
    display: inline-block;
    margin-left: 1.5em;
  }

  footer ul li:first-child {
    display: none;
  }

}

/* Desktop Styles */
@media (min-width: 1024px) {
  header {
    padding: 2em 4em 4em;
  }

  header p {
    font-size: 1.1rem;
    text-align: left;
    padding: 2rem;
  }

  p {
    padding: 1rem;
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  a:hover {
    color: #ff6924;
    text-decoration: none;
  }

  .top-nav, .top-nav li {
    width: initial;
    margin-bottom: 10px;
  }

  main {
    margin: 0 1.5em;
  }

  body {
    max-width: 1120px;
    margin: 0 auto; 
    padding: 0 1em; 
  }
  
  header, main, footer {
    max-width: 1120px;
    margin: 0 auto;
  }

  header img {
    float: right;
    margin-left: 1em;
    width: 30%; 
  } 

  #portfolio {
    margin-top: 1rem;
  }

  .column {
    width: 30%;
    background-color: whitesmoke;

  }

  .column:hover {
    transform: scale(1.04);
  }

}
